@{
    ViewData["Title"] = "Country Details";
}

<h2>Country Details</h2>
@{
    if (TempData.Peek("name") == null)
    {
        <p>Error: No country was selected! How did you even get this message!?</p>
    }
    else
    {
        <style>
            body { background-color: @ViewBag.colors[0] }
            h2 { color: @ViewBag.colors[1] }
        </style>
        if (ViewBag.colors.Length == 3)
        {
            <style>
                p { color: @ViewBag.colors[2] }
            </style>
        }
        <p><b>Name</b>: @ViewBag.name</p>
        <p><b>Languages</b>: </p>
        foreach (string l in @ViewBag.languages)
        {
            <p style="margin-left:2em">@l</p>
        }
        <p><b>Hello World</b>: @ViewBag.helloworld</p>
        <p><b>Colors</b>: </p>
        foreach (string c in @ViewBag.colors)
        {
            <p style="margin-left:2em">@c</p>
        }
        <img src=@ViewBag.piclink alt=@ViewBag.name height="100" width="175" style="border: 1px solid" />
    }
}

<form method="post">
    <input type="hidden" name="Description" value="@ViewBag.description" />
    <input type="submit" value="Description" />
</form>
